@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css';

body {
  font-family: cursive;
  background-image: url('./images/bg.jpg');
}

html {
  scroll-behavior: smooth;
}

.form {
  background-image: url('./images/form-bg.jpg');
}

textarea {
  resize: none;
}

.height-1 {
  height: 0.8rem;
}

.height-2 {
  height: 1.2rem;
}

label {
  font-size: 1.5rem;
}

.card {
  background-image: url('./images/note-bg.png');
  background-color: transparent;
  border: none;
  background-size: cover;
  width: 200px;
  height: 300px;
}

.done {
  text-decoration: line-through;

}

.fade-in-1 {
  animation: 0.5s ease-in fadein;
}

.fade-in-2 {
  animation: 1s ease-in fadein;
}

.fade-out-1 {
  animation: fadeout 0.5s ease-out forwards;
}

.fade-out-2 {
  animation: 1s ease-out fadeout;
}

.card:hover ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
}

.underline {
  text-decoration: underline;
}

.task-text {
  height: 170px;
  overflow-y: scroll;
}

.task-date-time {
  font-style: italic;
  font-size: small;
}

.task-date-time > p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
