@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';

body {
  font-family: cursive;
  background-image: url('./images/bg.jpg');
}

#fd {
  background-image: url('./images/form-bg.jpg');
}
