@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';

body {
  font-family: cursive;
  background-image: url('./images/bg.jpg');
}

.form {
  background-image: url('./images/form-bg.jpg');
}

textarea {
  resize: none;
}

.height-1 {
  height: 0.8rem;
}

.height-2 {
  height: 1.2rem;
}

label {
  font-size: 1.5rem;
}
